:root {
  --bg-primary: #F0F4F8;
  --text-primary: #222222;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100dvh;

  background-color: var(--bg-primary);
  color: var(--text-primary);

  font-family: 'Roboto', sans-serif;
  line-height: 1.25;
  font-size: 18px;
  font-weight: 400;
}