figure,
blockquote,
ul,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
}

img {
  max-width: 100%;
}

table {
  border-collapse: collapse;
}

input,
button,
textarea,
select {
  font: inherit;
}

fieldset {
  border: none;
}

textarea {
  white-space: revert;
}

::placeholder {
  color: unset;
}

:where([hidden]) {
  display: none;
}

:root {
  --bg-primary: #ffffff;
  --bg-page: #F0F4F8;

  --text-primary: #222222;
  --text-inverse: #ffffff;

  --blue-primary: #008BFE;
  --blue-secondary: #CCE8FF ;
  --blue-hover: #006FCB;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100dvh;

  background-color: var(--bg-page);
  color: var(--text-primary);

  font-family: 'Roboto', sans-serif;
  line-height: 1.25;
  font-size: 18px;
  font-weight: 400;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}